
*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;

}

body{
  background-color: #E9E8E7;
}

li, a{
  font-family: 'Roboto Flex', sans-serif;
  color: #35529D
}



header{
  background-color: ;
  height: 120px;
  text-align: center;
  display: block;
}

.nav-menu1 {
  height: 50px;
  text-align: left;
  font-size: 28px;
  color: #445DA7;
  padding-top: 30px;
  background-color:;
  width: 350px;
}

#hover a:hover {
color: #E89546;
  }


.nav-menu1 li {
  display: inline-block;
  margin-left: 40px;
  font-family: 'Roboto Flex', sans-serif;
}


.nav-menu2 {
  margin: 0 auto;
  font-size: 28px;
  color: #445DA7;
  padding-top:45px;
  width: 450px;
  height: 50px;
  margin-top: -90px;



}

.nav-menu2 li {

  margin-top: -5px;


}

.nav-menu3 {
  height: 55px;
  text-align: right;
  font-size: 28px;
  color: #445DA7;
  padding-top: 30px;
  width: 400px;
  float: right;
  margin-top: -100px;
}


.nav-menu3 li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 15px;
  font-family: 'Roboto Flex', sans-serif;
  }

#fotos {
  margin: 0 auto;
  background-color: ;
  height: 600px;
  width: 1840px;
  margin-top: 150px;
}

.fotocaja {
  height: 600px;
  width: 600px;
  border-radius: 15%;
  background-color: ;
  margin-left: 10px;
  float: left;

}

#img1 {
  background-image: url("coleccion1.jpg");
  height: 500px;
  width: 500px;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 20px;
}

#img1:hover {
  opacity: 50%;
  color:white;
}

#img2 {
  background-image: url("img1.jpg");
}

#img3 {
  background-image: url("coleccion2.jpg");
  height: 500px;
  width: 500px;
  margin-top: 50px;
  margin-left: 25px;

}
#img3:hover {
  opacity: 50%;
  color: white;
}


#lema {
  background-color: ;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  margin-top: 115px;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  color: #445DA7;
}



.videos {
    background-color: ;
    height: 800px;
    width: 2500px;
    margin: 0 auto;
    margin-top: 200px;
    float: left;
    align-items: center;
}

.cajavideo {
  height: 600px;
  width: 600px;
  float: left;
  margin-right: 20px;


}

#video1{
  background-color: ;
  object-fit: cover;
  float: left;
  border-radius: 15%;



}

#video2{
  background-color:#E89546 ;
  border-radius: 800px;
  width: 800px;
  margin-left: 450px;
  align-items: center;
  margin-top: 100px;
  padding-right: 60px;

}

.texto{
  background-color: ;
  height: 200px;
  width: 700px;
  margin: 0 auto;
  margin-top: 1150px;

}
#texto1{
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto Flex', sans-serif;
  color: #35529D;
  font-weight:800;


}

.footer {
  margin: 0 auto;
  background-color:#F8F9F9  ;
  margin-top: 300px;
  height: 200px;
  width: 2250px;
  margin-left: -800px;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  padding-top: 50px;
}
.footer li{
  font-size: 26px;
  margin-top: 5px;
  background-image: url(insta.png);
}


.footer li p{
  font-size: 26px;
  margin-top: 5px;
}

.footer p{
  margin-top: 30px;
  font-size: 20px;
}
